/*quitar margenes*/
body {
  margin: 0;
  font-family: "Metropolis Light";
}

/*Fuente*/
@font-face {
  font-family: "Metropolis Light";
  src: url("../fonts/Metropolis-Light.woff2");
}
h2.centrar{
  text-align: center;
}
/*Barra de navegacion principal*/
.navbar {
  overflow: hidden;
  background-color: #2C5234;
  top: 0px;
  position: fixed;
}

.navbar a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
}

/*submenu de la barra de navegacion*/
.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 20px 22px;
  background-color: inherit;
  margin: 0;
}

.centrado {
  position: fixed;
  top: 20%;
  left: 89%;
  transform: translate(-50%, -50%);
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #9C8412;
}

.indicador {
  /* ubicar la imagen de la barra
  */
  float: right;
  max-width: 30%;
  border-top-style: solid;
  border-top-width: 0px;
  margin-top: -4%;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*navbar responsiva*/
.navbar .icon {
  display: none;
}

@media screen and (max-width: 750px) {

  .navbar a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }

  .navbar img.escudo {
    max-width: 63%;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }
}

.escudo {
  max-width: 22%;
}

@media screen and (max-width: 900px) {
  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .navbar.responsive .dropdown {
    float: none;
  }

  .navbar.responsive .dropdown-content {
    position: relative;
  }

  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/*pie de pagina*/
.footer {
  position: fixed;
  font-size: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #9C8412;
  color: white;
  text-align: center;
}


/*Barra lateral Responsivo*/
.sidebar {
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #9C8412;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .content img {
    max-width: 100%;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: static;
  }

  .sidebar a {
    font-size: 12px;
    float: left;
  }

  div.content {
    margin-left: 0;
  }


}



/*contenido principal*/